<div class="container px-5 px-sm-0">
  <%= render "layouts/errors", obj: @article %>
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>投稿一覧</h2>
      <%= render "index", articles: @articles %>
    </div>
  </div>
</div>