<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2>プロフィール</h2>
      <%= render "users/info", user: @user %><br>
      <%= render "articles/article",articles: @articles %>
    </div>
  </div>
</div>